2captcha-python==1.1.2
aiofiles==0.8.0
aiohttp==3.7.4.post0
async-timeout==3.0.1
asyncio==3.4.3
attrs==21.4.0
certifi==2022.5.18.1
chardet==4.0.0
charset-normalizer==2.0.12
cycler==0.11.0
discord==1.7.3
discord.py==1.7.3
fonttools==4.33.3
idna==3.3
kiwisolver==1.4.2
matplotlib==3.5.2
multidict==6.0.2
numpy==1.22.4
opencv-python==4.5.5.64
packaging==21.3
pandas==1.4.2
Pillow==9.1.1
PyAudio==0.2.11
pynput==1.7.6
pyobjc-core==8.5
pyobjc-framework-ApplicationServices==8.5
pyobjc-framework-Cocoa==8.5
pyobjc-framework-Quartz==8.5
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
requests==2.27.1
scipy==1.8.1
seaborn==0.11.2
six==1.16.0
torch==1.11.0
torchvision==0.12.0
tqdm==4.64.0
typing_extensions==4.2.0
urllib3==1.26.9
websockets==10.3
yarl==1.7.2
